* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, "Manrope", Geneva, Verdana, sans-serif;
}
:root {
  --heading-txt-color: #373737;
  --btn-bg-color: #6fc247;
  --font-size-big-screen: 16px;
}
.nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 0 20px;
}
.nav-bar i {
  display: block;
}
.nav-bar ul {
  display: none;
  align-items: center;
  gap: 28px;
  list-style: none;
  font-weight: 600;
  color: #636363;
}
#logo {
  height: 13.8px;
}
.nav-bar select {
  border: none;
}
.nav-bar a {
  text-decoration: none;
  color: #065666;
}
.nav-bar.mobile {
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  align-items: unset;
  justify-content: unset;
  overflow: hidden;
  padding-left: 0px;
  z-index: 1;
  .li-1 {
    display: block;
    font-size: 30px;
  }
  .li-0 {
    display: none;
  }
  .li-3 {
    display: none;
  }
}
.nav-bar.mobile ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 60px 0px 0px 40px;
}
.nav-bar.mobile label {
  font-size: 30px;
}
.nav-bar.mobile select {
  appearance: none;
}
.nav-bar.mobile i {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  right: 5%; /* Position the icon horizontally in the center */
  transform: translateX(-5%); /* Center the icon horizontally */
  z-index: 9999;
}
button {
  height: 48px;
  width: 182.8px;
  border-radius: 9.6px;
  background: var(--btn-bg-color);
  border: 2px solid var(--btn-bg-color);
}
.button-text {
  width: 98.8px;
  line-height: 16.2px;
  font-style: normal;
  font-size: var(--font-size-big-screen);
  color: #ffffff;
}
#button-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.sign-up {
  background-color: #ffffff;
  border: 1px solid var(--btn-bg-color);
  margin-top: 20px;
}
.sub-sign-up {
  color: var(--btn-bg-color);
}
#last-button-con {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 64px auto 150px auto;
}
.hero-section__con-1,
.hero-section__con-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero-section__con-1 h1 {
  line-height: 35px;
  font-weight: 700;
  color: var(--heading-txt-color);
  font-size: 22px;
  margin-top: 120px;
}
.hero-section h2 {
  font-size: 18px;
  color: var(--heading-txt-color);
  font-weight: 700;
  line-height: 25px;
  margin-top: 80px;
}
.hero-section__con-1 h3 {
  font-size: 15.5px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 25px;
  color: var(--heading-txt-color);
}
.hero-section h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 12px;
  color: var(--heading-txt-color);
}
#img-1 {
  text-align: center;
  padding: 40px 20px;
}
#img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#img-con {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#img-con .img-2 {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
}
#img-3 {
  text-align: center;
  padding: 40px 0px;
}
#img-3 img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}
#why-con {
  background-color: #111111;
  color: white;
  padding: 0px;
  margin-top: 96.39px;
  padding: 15px 0px 30px 20px;
}
#main-why h1 {
  font-size: 29px;
  font-weight: 700;
  color: white;
  line-height: 44.55px;
  margin: 0;
}
#why-con p {
  color: #d7d7d7;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}
#sub-con {
  display: flex;
  flex-direction: column;
  margin: 12px 0px 0px 30px;
  gap: 10px;
}
.sub h3 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  line-height: 25px;
}
#final-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}
#main-wording h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}
#main-wording p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 12px;
}
.sub-wording {
  margin-left: 24.3px;
  margin-top: 52.65px;
}
.sub-wording h3 {
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
}
.sub-wording p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
#middle-wording {
  margin: 50px 0px;
}
@media screen and (min-width: 768px) {
  #button-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
  }
  .sign-up {
    margin-top: 0px;
    margin-left: 30px;
  }
  .hero-section__con-1 h1 {
    line-height: 70px;
    font-size: 48px;
    margin-top: 132px;
  }
  .hero-section__con-1 h2 {
    font-size: 25.6px;
    line-height: 35.2px;
  }
  .hero-section h3 {
    font-size: 20px;
    line-height: 40px;
  }
  .hero-section h4 {
    font-size: 18px;
  }
  #img-1 {
    padding: 80px 120px;
  }
  #img-3 {
    padding-top: 90px;
  }
}
@media screen and (min-width: 965px) {
  .nav-bar {
    padding: 0 50px;
  }
  .nav-bar ul {
    display: flex;
  }
  .nav-bar.mobile {
    display: none;
  }
  .nav-bar i {
    display: none;
  }
  #why-con {
    padding: 58.32px 20px 58.32px 88.43px;
    margin-top: 96.39px;
  }
  #main-why h1 {
    font-size: 40px;
    line-height: 60px;
  }
  #why-con p {
    font-size: 17px;
    line-height: 30px;
  }
  .sub h3 {
    line-height: 0px;
  }
  .sub p {
    margin-top: 12px;
    font-size: 16px;
  }
  #sub-con {
    flex-direction: row;
    margin: 50px 0px 0px 0px;
    gap: 6%;
  }
  .sub h3 {
    font-size: 18px;
    line-height: 26.73px;
  }
  #final-section {
    flex-direction: row;
  }
  #final-wordings {
    margin-right: 40px;
  }
  #main-wording h2 {
    font-size: 25px;
    line-height: 35px;
  }
  #main-wording p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
  }
  .sub-wording {
    margin-left: 24.3px;
    margin-top: 52.65px;
  }
  .sub-wording h3 {
    font-size: 21.2px;
    font-weight: 500;
    line-height: 26.73px;
    letter-spacing: 0em;
  }
  .sub-wording p {
    font-size: 16px;
    line-height: 24.3px;
  }
  #middle-wording {
    margin: 65px 0px;
  }
  #img-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
